h1{
    color:red; 
    font-style:italic;
    text-align: center;
}

p{
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    color: white;
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body{
    background-image: url('https://media1.giphy.com/media/FE0WTM8BG754I/200w.webp?cid=790b76115d0ee68d6958556236215678&rid=200w.webp');
    background-size: cover;
    background-image: repeating-radial-gradient(blue, black)
}

audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
