

body{
    background-size: cover;
    height: 200px;
    background-color: #7fa0d100;
    background-image: radial-gradient(rgb(213, 28, 219), rgb(21, 220, 235));
}

h1{
    text-align: left;
    color: white;
    text-decoration: underline grey;
}

p{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

img{
    height: 500px;
    width: 700px;
    float: right; 
    margin-right: 300px;
     float: top;
}

button{
    height: 100px;
    width: 100px;
    font-size: 30px;
    border-radius: 10px;
}

button:hover{
    background-color: red;
}

button:active{
    background-color: green;
}

h2{
    color: whitesmoke; 
    padding-left: 600px;
    padding-top: -70px;
    display: inline-block;
}

#first{
    text-align: center;
}
#question{
    text-align: center;
    font-size: 40px;
}

#qImg{
    height: 320px;
    width: 620px;
    position: relative;
    right: 80px;
}
.bel{
    background-color: aqua;
    position: relative; 
    left: 500px; 
    border-radius: 10px;
     top: 350px; 
     
}
#d1{
    color: rgb(21, 220, 235); 
    position: relative;
    top: 220px;
    width: 120px;
}
#d2{
    color: whitesmoke;
    visibility: hidden;
    position: relative;
    /* left: 305px;  */
    /* top: 400px; */
}
 #d1:hover #d2{
    visibility: visible;
}
#belA{
    width: 220px;
    background-color: red;
    position: relative;
    left: 590px;
    top: 350px;
    border-radius: 10px;
    
}
#belA:hover{
    background-color: aqua;
    font-style: italic;
}
#belA:active{
    background-color: goldenrod;
    /* transform: scale(10px, 20px,); */
}
 #b3{
    width: 220px;
    background-color: red;
    position: relative;
    left: 590px;
    top: 510px; 
    border-radius: 10px;
 }
#b3:hover{
    background-color: aqua;
    font-style: italic;
    transform: scale(10px, 20px,);
}
#b3:active{
    background-color: goldenrod; 
}
.bel2{
    background-color: aqua;
    position: relative;
    top: 350px;
    left: 540px;
    border-radius: 10px;
    font-size: 23px;
}
.new{
    /* width: 130px; */
    background-color: aqua;
    position: relative;
    top: 350px;
    left: 480px;
    border-radius: 10px;
    font-size: 20px;
    /* display: inline-block; */
}
.neW{
    height: 115px;
    width: 120px;
    background-color: aqua;
    position: relative;
    top: 350px;
    left: 490px;
    border-radius: 10px;
    font-size: 15px;
    float: left;
}
.New {
    display: inline-block;
    height: 115px;
    width: 120px;
    background-color: aqua;
    position: relative;
    top: 350px;
    left: 490px;
    border-radius: 10px;
    font-size: 18px;
}
#hidden{
    color: rgb(21, 220, 235);
    position: relative;
    top: 400px;
    /* visibility: hidden; */
}
#hidden:hover{
    color: red;
}
#b5{
    width: 220px;
    background-color: red;
    position: relative;
    left: 590px;
    top: 510px;
    border-radius: 10px;
}
#b5:hover{
    background-color: aqua;
    font-style: italic;
}
#b5:active{
    background-color: goldenrod;
}
a {
    color: inherit;
    text-decoration: none;
}
#hidden1 {
    color:  rgb(21, 220, 235);
    position: relative;
    top: 200px;   
}
#hidden1:hover {
color:red;
}

#change {
    width: 220px;
    background-color: red;
    position: relative;
    left: 590px;
    top: 510px; 
    border-radius: 10px;
}
#change:hover{
    background-color: aqua;
}
#change:active{
    color:gold;
}
#back{
    background-color: aqua;
    font-size: 20px;
}
#back:hover{
    background-color: red;
    font-style: italic;
}
#back:active{
    background-color: gold;
}
#trick{
    background-color: aqua;
    position: relative;
    left: 1200px;
    font-size: 20px;
}
#trick:hover{
    background-color: red;
}
#trick:active{
    background-color: gold;
}
#mitch{
    height: 310px;
    width: 410px;
    position: relative;
    right: 200px;
}
#b4{
    width: 160px;
    background-color: aqua;
    position: relative;
    left: 650px;
    top: 340px;
}
#b4:hover {
    background-color: red;
    font-style: italic;
}
#b4:active {
    background-color: gold;
    color: aliceblue;
}
#hint2{
    background-color: aqua;
    position: relative;
    left: 1200px;
    font-size: 20px; 
}
#hint2:hover{
    background-color: red;
    font-style: italic;
}
#hint2:active{
    background-color: gold;
}


h3{
text-align: center;
color: whitesmoke;
font-size: 25px;
}
#last{
    height: 300px;
    width: 600px;
    position: relative;
    right: 100px;;
}
#stop{
    width: 140px;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#stop:hover{
    background-color: red;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#stop:active{
    background-color: gold;
}

#lastB{
    background-color: white;
    border: solid 4px blue;
    height: 120px;
    width: 200px;
    position: relative;
    top:310px;
    left: 420px;

}
#lastB:hover{
    background-image: radial-gradient(#DCDCDC, 	#00FFFF);
   transform: scale(123px, 120px);
    transform: translate(12px, 12px);
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     */
}
#aboutMe{
    background-color: white;
    border: solid 4px blue;
    height: 120px;
    width: 150px;
    position: relative;
    left:670px;
    top: 320px;
}
#aboutMe:hover{
    background-image: radial-gradient(#DCDCDC, 	#00FFFF);
    transform: scale(123px, 120px);
     transform: translate(12px, 12px);
}
input{
    height: 20px;
    width: 140px;
    position: relative;
    right: 345px;
    bottom: 50px;
    /* left: 320px;
    top: 310px; */
}
#LeaderB{
background-color: whitesmoke;
border-radius: 0px;
font-size: 10px;
height: 27px;
width: 100px;;
position: relative;
left: 170px;
bottom: 135px;
/* left: 700px;
top: 260px;  */
}
#LeaderB:hover{
    background-image: radial-gradient(#DCDCDC, 	#00FFFF);
}
#LeaderB:active{
    color:gold;
}
#display{
    color: purple;
    font-size: 35px;
    text-align: right;
    font-family: cursive;
}
li{
font-family: monospace;
/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
font-size: 23px;
color: greenyellow;
position: relative;
bottom: 120px;
left: 10px;
}
h6{
    font-family: fantasy; 
    position: relative;
    left: 75%;
    bottom: 108%;
    font-size: 25px;
    color: greenyellow;
}